<div class="jumbotron">
  
  <div class="row">
    <div class="col-xs-12">
      
      <div class="col-sm-8">
        <img src="{{result.images.hidpi || result.images.normal}}" class="img-responsive" />
      </div>
      
      <div class="col-sm-4">
        
        <div class="author">
          <img src="{{result.team.avatar_url || result.user.avatar_url}}" class="img-circle img-responsive" />
          <p>{{result.team.name || result.user.name}}</p>
        </div>
        
        <div class="description">
          <p ng-bind-html="description"></p>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
